<div class="row">
    <div class="col12" class="ctaorigen">
      
            <p> <strong> Consultar saldo</strong></p>
            <hr>
            <div class="form-group">
                <label for="exampleFormControlInput1">Ingrese Rut</label>
                <input type="text" class="form-control" [(ngModel)]="rut" placeholder="ej : 1111-1">
                <p class="text-danger">{{textError}}</p>

            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" (click)='consultarSaldo()'>Consultar</button>
            </div>

        
    </div>


</div>
<div class="alert alert-success" role="alert" [ngStyle]="{'display': expression}">
    {{message.message}}
  </div>