<br>
<div class="row">
    <div class="col-4">
        <div class="card text-white bg-dark">
            <div class="card-header">Consulta de saldo</div>
            <div class="card-body">
                <h5 class="card-title">Consula el saldo de un usuario con su rut</h5>
                <button type="button" class="btn btn-danger btn-lg btn-block" (click) ='ir("saldo")'>Ver saldo</button>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card text-white bg-dark">
            <div class="card-header">Realizar transferencia Bancaria</div>
            <div class="card-body">
                <h5 class="card-title">Realizar transferencia bancaria de una cuenta a otra</h5>
                <button type="button" class="btn btn-danger btn-lg btn-block" (click) ='ir("transferencia")'>Transferencia</button>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card text-white bg-dark">
            <div class="card-header">Consulta indicadores economicos</div>
            <div class="card-body">
                <h5 class="card-title">Indicadores economicos UF, bitcoin, UTM y mas</h5>
                <button type="button" class="btn btn-danger btn-lg btn-block" (click) ='ir("indicadores")' >Consultar</button>
            </div>
        </div>
    </div>

</div>
<br>